
@{
    ViewData["Title"] = "EventSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <div class="row justify-content-center align-align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <form method="get">
                <div class="input-group">
                    <input class="form-control" placeholder="Search..." form="SearchTerm" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


