@using EventApplication.ViewModels
@{
    ViewData["Title"] = "Event Recomended";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string[] TableHeaders = new string[]
            {
              "Name",
              "Location",
              "Time",
              "Date",
              "Status",
              "Category"
            };
}
<div class="container mt-5">
    <div class="row justify-content-center align-align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <p><strong>Interest 1: @Model.Interest1</strong></p>
            <p><strong>Interest 2: @Model.Interest2</strong></p>
            <p><strong>Interest 3: @Model.Interest3</strong></p>
        </div>
    </div>
</div>
<div class = "table row justify-content-center align-align-items-center ">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                    @{
                        foreach(var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
            </tr>
        </thead>
        @{
            if (Model != null)
            {
                <tr>
                    <td></td>
                </tr>          
            }
        }

    </table>
</div>



