@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center align-align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Create Event</h1>
            <label class="form-label">Name of Event:</label>
            <input type="text" class="form-control" form="Event" />
            <label class="form-label">Location of Event:</label>
            <input type="text" class="form-control" form="Location" />
            <label class="form-label">Time of Event:</label>
            <input type="text" class="form-control" form="Time" />
            <label class="form-label">Date of Event:</label>
            <input type="text" class="form-control" form="Date" />
            <label class="form-label">Status of Event:</label>
            <input type="text" class="form-control" form="Status" />
            <label class="form-label">Attendees Number</label>
            <input type="text" class="form-control" form="Attendees" />
            <label class="form-label">Category of Event</label>
            <select id="Interest1" class="form-control" form="Category">
                <option value="Air">Air Sports</option>
                <option value="Land">Outdoors</option>
                <option value="Sports">Team Sports</option>
                <option value="Exercise">Exercise</option>
                <option value="Snow Sports">Snowsports</option>
                <option value="Relaxing">Relaxation</option>
                <option value="Motorsports">Motorsports</option>
                <option value="Water Sports">Watersports</option>
                <option value="Programming">Programming</option>
            </select>
        </div>
        <div class="ab-3">
            <button type="submit" class="btn btn-primary">Submit Event</button>
            </div>
        </div>
    </div>

