@{ ViewData["Title"] = "Home Page"; }

<div class="container mt-5">
    <div class="row justify-content-left align-align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Home Page</h1>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-left align-align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <p><b>Project 1: Group matching app</b></p>
        </div>
    </div>
</div>
<body>
    In this project, the users should be able to create a profile with their interests and come together with other users and create similar interest
    groups. Then, the app suggests groups or users to other groups based on their common interests, so they can communicate through the app
    and organize events. It can be accessed via a web browser and/or mobile app. You can create events, including details such as time,
    duration, location, and so on. The users also can share photos related to the event and these should be accessible only to those that have
    attended the event.
</body>

<p><br/><br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><b>Authors:</b> Rickie Mobley, Preston Checkan, Bramdon Diaz, Ronny Elsheikh</p>
